<footer class="footer">
  <div class="container text-center" style="padding: 30px 0;">
    
   <div class="logos-footer" style="margin-bottom: 20px; display: flex; justify-content: center; align-items: center; gap: 30px; flex-wrap: wrap;">

  <img src="/assets/img/logo-aljibe.png" alt="SUPERFICIES BIOINSPIRADAS PARA RECOLECCIÓN DE AGUA ATMOSFÉRICA" style="height: 90px; width: auto;">

  <img src="/assets/img/logo-lsip.png" alt="Laboratorio de Física de Superficies e Intefases" style="height: 90px; width: auto;">

  <img src="/assets/img/logo-ugr.png" alt="Universidad de Granada" style="height: 90px; width: auto;">

  <img src="/assets/img/Medialab-UGR.png" alt="MediaLab UGR" style="height: 90px; width: auto;">
     
<!--  <img src="/assets/img/logo.png" alt="StickyDropsMap" style="height: 90px; width: auto;">-->

</div>
    
    <div class="social-icons" style="margin-bottom: 15px;">
      {% include social-networks-links.html %}
    </div>

    <p style="color: #666; font-size: 0.9em;">
      © {{ site.time | date: '%Y' }} <strong>StickyDropsMap</strong> — {{ site.author }}
    </p>
    
  </div>
</footer>
