<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="{{ '' | relative_url }}">
        <img src="/assets/img/logo.png" alt="StickyDropsMap Logo" style="height: 70px; width: auto; display: inline-block; vertical-align: middle; margin-right: 15px;">
        <span style="font-weight: 800; font-size: 1.5rem; vertical-align: middle;">StickyDropsMap</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Inicio</a></li>
        <li><a href="/equipo">Equipo</a></li>
        <li><a href="/enlaces">Enlaces</a></li>
        <li><a href="/ensenanza">¡Enséñame!</a></li>
        <li><a href="/about">¿Qué es StickyDropsMap?</a></li>
        <li><a href="/participate">¡Participa!</a></li>
      </ul>
    </div>
  </div>
</nav>
